*{
    padding: 0;
    margin: 0;
    
}
.card{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: #282828;
    width: 440px;
    height: 38rem;
    padding: 20px;
    text-align: center;
    box-shadow: 20px 5px 20px;

}
.text-div{
    flex-basis: 20%;
    width: 100%;
}
.button-container{
    flex-basis: 80%;
    width: 98%;
    display: flex;
    margin-top: 10px;
}
.buttons{
    width: 73px;
    height: 73px;
    background-color: red;
    /* padding: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    transition: 0.5s;
    box-shadow: 10px 20px 15px;
}
.glass{
    width: 95%;
    height: 100%;
    /* font-family: 'DS-Digital',sans-serif; */
}
.num-container{
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 105px;
}
.op-container{
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.num-container .buttons{
    margin: 5px;
    background-color: #fff;
    color: black;  
}
.op{
    margin: 5px;
}
.math{
    font-size: 44px;
    background-color: rgba(202, 38, 38, 0.791);
}
.green{
    background-color: rgb(28, 224, 28);
}
.text-div input{
    font-size: 92px;
    padding: 2px;
}
.buttons:hover{
    background-color: #f7ff01;
    box-shadow: none;
}
.heading{
    text-align: center;
    font-size: 44px;
    background-color: #ff5500;
    color: rgb(255, 255, 255);
}
body{
    background-image: url(mathbg.webp);
    
}
/* ----------------css for small screens-------------- */
@media only screen and (max-width:600px) {
    body{
        background-image: url(mobilebg.jpg);
    }
    .card{
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        background-color: #282828;
        width: 250px;
        height: 30rem;
        padding: 20px;
        text-align: center;
        box-shadow: 20px 5px 20px;
    
    }
    .text-div{
        flex-basis: 20%;
        width: 100%;
    }
    .glass{
        width: 97%;
        height: 70%;
      
        /* font-family: 'DS-Digital',sans-serif; */
    }
    .num-container{
        flex-basis: 60%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
    }
    .buttons{
        width: 39px;
        height: 39px;
        background-color: red;
        /* padding: 5px; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        transition: 0.5s;
        box-shadow: 5px 5px 5px;
    }
    .op-container{
        flex-basis: 40%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .math{
        font-size: 28px;
        background-color: rgba(202, 38, 38, 0.791);
    }
    .green{
        background-color: rgb(28, 224, 28);
    }
    .text-div input{
        font-size: 32px;
        padding: 2px;
    }
    
}